//* ============ COLORS =========== */
$color-primary: #1D67FF;
$color-secondary: #9F00FF;
$color-info: #009DFF;
$color-success: #5BAD00;
$color-warning: #F5A623;
$color-danger: #ff0033;

$gray-100: #FFFFFF;
$gray-200: #F5F6F7;
$gray-300: #D3D9DD;
$gray-400: #AEB8BF;
$gray-500: #80878C;
$gray-600: #585E63;
$gray-700: #27292B;
$gray-800: #000000;
//* ============ END COLORS =========== */

//* ============ TYPOGRAPHY =========== */
$main-font: 'Roboto', sans-serif;
//* ============ END TYPOGRAPHY =========== */

//* ============ SPACING =========== */
$spacer: 30px * 1;
$menu-height: 50px;
//* ============ END SPACING =========== */
